alembic==1.15.2
cloudinary==1.44.0
Faker==37.3.0
Flask==3.1.1
Flask-Bcrypt==1.0.1
Flask-Caching==2.3.1
Flask-Cors==6.0.0
Flask-JWT-Extended==4.7.1
Flask-Migrate==4.1.0
Flask-SQLAlchemy==3.1.1
google-api-python-client==2.122.0
google-auth==2.29.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.2
Jinja2==3.1.6
Pillow==11.2.1
prometheus-client==0.22.0
protobuf==6.31.0
PyPDF2==3.0.1
pytest==8.3.5
pytest-asyncio==0.22.0
python-dotenv==1.1.0
python-magic==0.4.27
redis==6.1.0
requests==2.32.3
SQLAlchemy==2.0.31
twilio==8.10.0
Werkzeug==3.1.3

